<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src={{usuario.avatar}} alt="foto del usuario">
      <div class="caption">
        <div class="input-group">
            <span class="input-group-addon" id="id">ID: {{usuario.id}}</span>
          
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="nombre">Nombre: {{usuario.nombre}}</span>
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="apellido">Apellido: {{usuario.apellido}}</span>
        </div> 
        <div class="input-group">
          <span class="input-group-addon" id="email">Email: {{usuario.email}}</span>
        </div>
       

        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="sexo" value="M" checked>
          <label class="form-check-label" for="exampleRadios1">
            Masculino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="Femenino" value="F">
          <label class="form-check-label" for="exampleRadios2">
            Femenino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="Otro" value="O">
          <label class="form-check-label" for="exampleRadios3">
            Otro
          </label>


      </div>
    </div>
  </div>
</div>
</div>
