<section id="propiedades">
  <h2>Propiedades</h2>
  <p>Componente para jugar con las [propiedades] en Angular, página 38 del manual.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nihil magnam a delectus perspiciatis distinctio tempore, odio minus? Eveniet quaerat molestiae nam deserunt praesentium, cumque eos commodi aspernatur et autem.</p>

  <h3>Propiedad [style]</h3>
  <p [style.color]="color">[style.color]="color" Cambiamos el color del párrafo mediante uyn atributo.</p>
  <p [style.backgroundColor]="'pink'">[style.backgroundColor]="'pink'" Cambiamos el color de fondo mediante un literal.</p>


  <h3>Propiedad [hidden]</h3>
  <p [hidden]="!ocultar">VISIBLE - Podemos usar el operador de negación <b>!</b> </p>
  <p [hidden]="ocultar">OCULTADO - No se muestra mediante CSS <code>display:none</code> .</p>

  <h3>Propiedad [href]</h3>
  <a [href]="enlace" target="_blank">API angular</a>

</section>
