
 <!-- Fixed navbar -->
 <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
</nav>
      <!-- Fixed navbar -->
  
      <!-- Begin page content -->
      <div class="container">
            <div class="jumbotron">      
                <h1>{{title}}</h1>
                <!-- Componente Receta -->
                <app-receta></app-receta>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
              
            </div>
      </div>
  
      <footer class="footer">
        <div class="container">
          <p class="text-muted">IparChef 2018</p>
        </div>
      </footer>