
 <!-- navbar -->
 <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['home']">Recetas Web</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li routerLinkActive="class">
                  <a [routerLink]="['receta']">Receta</a>
              </li>  
              <li routerLinkActive="class">
                  <a [routerLink]="['propiedades']">Propiedades</a>
              </li> 
              <li routerLinkActive="class">
                <a [routerLink]="['usuario']">Usuario</a>
            </li> 
            <li routerLinkActive="class">
                <a [routerLink]="['concesionario']">Concesionario</a>
            </li> 
            <li routerLinkActive="class">
              <a [routerLink]="['recetario']">Recetario</a>
          </li> 
          <li routerLinkActive="class">
            <a [routerLink]="['todos']">To Dos</a>
        </li> 
            </ul>
          </div><!--/.nav-collapse -->
        </div>
</nav>
      <!-- Fixed navbar -->
  
      <!-- Begin page content -->
      <div class="container">
            <router-outlet></router-outlet>
      </div>
  
      <footer class="footer">
        <div class="container">
          <p class="text-muted">IparChef 2018</p>
        </div>
      </footer>