<div class="row">
  <div class="col-sm-12 col-md-12" (click)="seleccionar($event)">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{coche.marca}}</h3>
        <p>{{coche.modelo}} {{coche.version}}</p>
      </div>
    </div>
  </div>
</div>

<!--

<div class="row">

    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src={{coche.foto}} alt="foto {{coche.marca}} {{coche.modelo}}">
        <div class="caption">
          <h3>{{coche.marca}}</h3>
          <p>{{coche.modelo}} {{coche.version}}</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src={{coche.foto}} alt="foto {{coche.marca}} {{coche.modelo}}">
        <div class="caption">
          <h3>{{coche.marca}}</h3>
          <p>{{coche.modelo}} {{coche.version}}</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>

  </div>
 Acaba el comparador -->




