<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="gluten"  *ngIf="receta.isGlutenFree"  src="assets/imgs/gluten_free_icon.png" alt="icono sin gluten">
        <img class="gluten" *ngIf="!receta.isGlutenFree" src="assets/imgs/gluten_icon.png"  alt="icono con gluten">

        <img src={{receta.foto}} alt="tortilla">
        <div class="caption">
          <h3>{{ receta.nombre | uppercase }}</h3>
          <p>{{receta.descripcion | slice:0:50 }}...</p>
          <p>
          <span class="cocinero">{{receta.cocinero}}</span>
          <span class="label label-primary" (click)="sumarLike()" > Likes {{receta.likes}}</span>
          </p>

          <section class="ingredientes">
            <h4 (click)="showIngredientes()">Ingredientes<span class="badge">{{receta.ingredientes.length}}</span><span class="glyphicon {{glyphicon}}" aria-hidden="true"></span></h4>
            <ol *ngIf="show">
              <li *ngFor="let ingrediente of receta.ingredientes">
                {{ingrediente}}
              </li>
            </ol>
          </section>


        </div>
      </div>
    </div>
  </div>