<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="gluten"  *ngIf="isGlutenFree"  src="assets/imgs/gluten_free_icon.png" alt="icono sin gluten">
        <img class="gluten" *ngIf="!isGlutenFree" src="assets/imgs/gluten_icon.png"  alt="icono con gluten">

        <img src={{foto}} alt="tortilla">
        <div class="caption">
          <h3>{{nombre | uppercase }}</h3>
          <p>{{descripcion | slice:0:50 }}...</p>
          <p>
          <span class="cocinero">{{cocinero}}</span>
          <span class="label label-primary" (click)="sumarLike()" > Likes {{likes}}</span>
          </p>

          <section class="ingredientes">
            <h4>Ingredientes</h4>
            <ol>
              <li *ngFor="let ingrediente of ingredientes">
                {{ingrediente}}
              </li>
            </ol>
          </section>


        </div>
      </div>
    </div>
  </div>