<p>Ejemplo de un Componente Padre <b>RecetarioComponent</b> e Hijo <b>RecetaComponent</b>. Aprender a pasar parametros de una a otro @input @output</p>

<div class="container">

<!-- Formulario con ventana modal -->
<app-formulario></app-formulario>  

<div class="row">

  <div class="col-md-3">
      <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Recetas</h3>
              </div>
              <div class="panel-body panel-list-recetas">
                 
                  <!-- llamada componente Hijo -->
                  <app-lista-recetario [recetarioParametro]="recetas_disponibles"
                               (eventoEmitirReceta)="recibirRecetaDetalle($event)"></app-lista-recetario>
                  
              </div>
      </div>
  </div>   

  <div class="col-md-9">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Detalle de las recetas</h3>
          </div>
          <div class="panel-body">
              
              <!-- llamada componente Hijo -->
              <app-receta-detalle [receta1]="recetaSeleccionada"></app-receta-detalle>
             
              
          </div>
      </div>
  </div>    

</div>
</div>